@import 'tailwindcss';
@plugin "daisyui" {
    prefix: 'd-';
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-montrerrat);
    --font-mono: var(--font-geist-mono);
    --color-primary: #014f56;
    --color-secondary: #91f7ed;
}

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans) sans-serif;
}
